.card-container {
    padding: 30px;

    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    height: 310px;
    width: 320px;
     justify-content: space-between;
    align-items: flex-start;
}

.card-header {
    color: #000;
    display: flex;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: didot;
    line-height: 20px;
    letter-spacing: 0px;
}

.card-comment {
    color: #4A4A4A;
    font-size: 14px;
    font-family: mulish, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-image-wrapper {
    display: flex;
    gap: 15px;
    height: auto;
    width: auto;

    justify-content: center;
    align-items: center;
}

.card-image-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.card-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.card-username {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    height: 19px;

    color: #4A4A4A;
    font-family: mulish, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}