.footer-wrapper {
    padding: 50px 0px;
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;

    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.f-1 {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;

    gap: 40px;
    flex-wrap: wrap;
}

.f-2 {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    align-items: flex-start;

    flex-wrap: wrap;
}

.f-section1,
.f-section2,
.f-section3,
.f-section4,
.f-section5,
.f-section6 {
    height: auto;
    width: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.f-section1 .header,
.f-section2 .header,
.f-section3 .header,
.f-section4 .header,
.f-section5 .header,
.f-section6 .header {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    font-family: mulish;
}

.f-Link {
    text-transform: capitalize;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    cursor: pointer;

    position: relative;
    font-family: mulish, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f-Link span {
    color: rgb(0, 140, 255);
}

.animation::after {

    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: #4A4A4A;
    transition: 350ms all ease-in-out;
}

.animation:hover::after {
    width: 100%;
}

.f-mail-container {
    display: flex;
    width: auto;
    height: 40px;
}

.mail-text {
    width: 253px;
    line-height: 18px;
    cursor: unset;
}



.f-mail-container input {
    display: flex;
    outline: none;
    color: #4A4A4A;
    height: 100%;
    width: 261px;
    border: 1px solid #e4e4e4;

}

.f-mail-container button {
    background-color: #FF5200;
    border: none;
    color: white;
    width: 94px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    font-family: mulish;
    cursor: pointer;
    transition: 350ms all ease-in-out;

}

.f-mail-container button:hover {
    scale: 1.2;
}


.address {
    width: 141px;
}

.box {
    width: 117px;
}

.f-sponsors {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}

.f-sponsors-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.f-sponsors-wrapper .logo {
    font-family: mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    flex: 1;
    text-transform: capitalize;
    color: #30797C;

}

.sponsor-logo-wrapper {
    display: flex;
    width: auto;
    height: 16px;
    justify-content: center;
    align-items: center;
}

.sponsor-logo {
    height: 100%;
    width: auto;
    margin: auto;
    object-fit: contain;

}

.f-language {
    display: flex;
    height: 40px;
    width: 231px;
    border: 1px solid #E4E4E4;
    outline: none;

    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.flagwrapper {
    display: flex;
    height: 20px;
    width: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

}

.flagImg {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
}

.language {
    flex: 1;
    display: flex;
    border: none;
    outline: none;
}

.copyright {
    width: 80%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.copyright p {
    font-size: 14px;
    font-family: mulish;
    color: #333333;
    font-weight: 400;
}


@media screen and (max-width: 900px) {

    .f-section1,
    .f-section2,
    .f-section3,
    .f-section4,
    .f-section5,
    .f-section6 {
        height: auto;
        width: 100%;
        display: flex;
        flex: unset;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .address {
        width: auto;
    }

    .box {
        width: auto;
    }

    .f-sponsors {

        height: auto;

    }

    .f-sponsors-wrapper {

        padding: 40px 0px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .copyright {
        flex-direction: column;
        height: auto;
        gap: 10px;

        padding: 40px 0px;
    }
}